<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Airtable Automation</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/index.css" />
  <link rel="stylesheet" href="static\css\catalog.css">
</head>
<body>
  <div class="form-container">
    <div class="nav-links">
      <a href="/">← Back to Home</a>
      <a href="/logout">Logout</a>
    </div>

    <h1>Airtable Automation for hackatime</h1>
    <p>Automatically get hours spent on a project with this automation by @peleg</p>

<div class="result-section">
  <div class="yml-code">
    {% filter trim %}
    <code>
        const inputConfig = input.config();
    const recordId = inputConfig.recordID;
    let table = base.getTable("YSWS Project Submission");
    const queryResult = await table.selectRecordAsync(recordId);
    if (queryResult == null) throw "owo >-<"
    const slackId = queryResult.getCellValue("Slack ID");
    const projectName = queryResult.getCellValue("Hackatime Exact project name");
    if (!slackId) throw "no slack ID"
    if (!projectName) throw "no project name"
    const hackatimeUsernameRequestUrl = "https://hackatime.hackclub.com/api/v1/users/" + encodeURIComponent(slackId) + "/stats";
    const hackatimeUsernameResponse = await fetch(hackatimeUsernameRequestUrl);
    const hackatimeUsernameData = await hackatimeUsernameResponse.json();
    const hackatimeId = hackatimeUsernameData.data?.user_id;
    const hackatimeUsername = hackatimeUsernameData.data?.username;
    const userProjectsListUrl = "https://hackatime.hackclub.com/api/v1/users/" + encodeURIComponent(hackatimeUsername) + "/projects";
    const userProjectsListResponse = await fetch(userProjectsListUrl);
    const userProjectsData = await userProjectsListResponse.json();
    if (!Array.isArray(userProjectsData.projects) || !userProjectsData.projects.includes(projectName)) throw "Couldn't get the user project";
    const projectUrl = "https://hackatime.hackclub.com/api/v1/users/" + encodeURIComponent(hackatimeUsername) + "/project/" + encodeURIComponent(projectName);
    const projectResponse = await fetch(projectUrl);
    const projectData = await projectResponse.json();
    const projectHours = projectData.total_seconds / 3600;
    await table.updateRecordAsync(recordId, {
        "Optional - Override Hours Spent": projectHours
    });
    </code>
    {% endfilter %}
  </div>
</div>

<script>
function copyCode() {
    const codeBlock = document.getElementById("code-block");
    const text = codeBlock.innerText.replace("📋 Copy", "").trim();
    navigator.clipboard.writeText(text).then(() => {
        alert("Code copied to clipboard!");
    });
}
</script>
<br>
<button onclick="copyCode()" class="btn-primary">Copy Script</button>

</body>
</html>
