<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home - YSWS Organizer Panel</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/index.css" />
</head>
<script>
  setTimeout(() => {
    document.querySelectorAll('.flash').forEach(el => {
      el.style.transition = "opacity 0.3s ease";
      el.style.opacity = "0";
      setTimeout(() => el.remove(), 300); 
    });
  }, 3000);
</script>
<body>
  <div class="container">
    <div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
      <h1>YSWS Organizer Panel</h1>
      <p>Welcome, {{ username }}!</p>
      <hr>
      tools:
      <br>
      <div>
        <a href="/ysws-catalog">YSWS Catalog Generator</a><br>
        <a href="/hour_finder">Project Hour Finder</a><br>
        <a href="/fraud_checker">Fraud Checker</a><br>
        {% if is_admin %}
        <a href="/admin">Admin</a><br>
        {% endif %}
      </div>
    </div>
    
    <div class="links">
      
      <a href="/logout">Logout</a>
    </div>
  </div>

  <footer>
    made with <3 by <a href="https://hackclub.slack.com/team/U07G0C6JZME"><b>jim</b></a>
  </footer>
</body>
</html>
