<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up - YSWS Organizer Panel</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/index.css" />
</head>
<body>
  <div class="container">
    <div class="content">
      <p>Seems like you are new here! What should I call you?</p>
      <p><small>The admin key you enter will become your password for future logins.</small></p>
      <p><small style="color: #7e7878;">(No admin key? DM @jim on Slack!)</small></p>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
    </div>
    <form action="/new" class="form" method="POST">
      <input type="text" name="username" placeholder="enter your name here bruh" class="search-box" required />
      <input type="text" name="admin_key" placeholder="admin key goes here" class="admin-input search-box" required />
      <button class="btn" type="submit">Continue</button>
    </form>
    <div class="links">
      <a href="/login">Already have an account? Login here</a>
    </div>
  </div>

  <footer>
    made with <3 by <a href="https://hackclub.slack.com/team/U07G0C6JZME"><b>jim</b></a>
  </footer>
</body>
</html>
