<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Terminology</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/index.css" />
  <link rel="stylesheet" href="static\css\catalog.css">
</head>
<body>
  <div class="form-container">
    <div class="nav-links">
      <a href="/">← Back to Home</a>
      <a href="/logout">Logout</a>
    </div>
   

   <h1>Terminology</h1>
    <p>Learn the meaning behing every YSWS-related word you might hear</p>
<body>
    <hr>
<div>
<b>PoC</b> -> The word PoC stands for "Point of Contact" and is basically the person (usually an intern) who connects you to a full time HQ staff who sponsors the YSWS
<h1> </h1>
<b>Sponsor</b> -> The person who makes the YSWS possible, usually a full time HQ staff overlooking your PoC and providing funding through Hack Club Bank
<h1> </h1>
<b>Unified DB</b> -> The Unified Database is a internal database where all YSWS submissions (only approved ones) are stored. You can add a reviewed project to the Unified DB through the airtable automation tickbox
<h1> </h1>
<b>Weighted Grants</b> -> Weighted Grants are an internal performance metric to evaluate how many teenager coding hours someone brough to the table. A Weighted Grant represents 10 hours of work on an approved YSWS submission
</div>
</div>

</body>